    body * {
      font-family: sans-serif;
      margin: 0;
      padding: 6px;
      background: #E6E68A;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

.productos-table {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
            
        }
 .productos-table th, td * {
         background-color: #F54927;
}
* {
      box-sizing: border-box;
    }

   
